@import "utils/master";

.Watch {
    // background-color: blue;
    // width: max-content;
    // height: fit-content;
    position: relative;

    width: calc(100vw - #{$sidebar-width});
    min-height: calc(100vh - #{$footer-height});

    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;

    &.membersWrapped {
        padding-top: 75px;
    }
}

.playerBox {
    width: max-content;
    height: fit-content;
}

.input {
    margin-bottom: 20px;
}

.container {
    width: $player-width;
    max-width: 100%;
    display: flex;
    justify-content: center;
}