@import 'utils/master';

$popup_height: 600;
$appear_duration: .4s;

@keyframes eclipseAppear {
    0% {
        background-color: rgba(0, 0, 0, 0);
    }

    100% {
        background-color: rgba(0, 0, 0, .7);
    }
}

.eclipse {
    position: absolute;
    top: 0; left: 0;
    width: 100%;
    height: 100vh;

    background-color: rgba(0, 0, 0, .7);

    overflow: hidden;

    z-index: 101;

    animation: eclipseAppear $appear_duration forwards linear;

}

@keyframes appear {
    0% {
        transform: translate(-50%, 100vh);
    }

    100% {
        transform: translate(-50%, -50%);
    }
}

.Auth {
    position: absolute;
    width: #{$popup_height * .618}px;
    height: max-content;

    background-color: $shade-color;
    padding: 80px 20px;

    z-index: 100;

    left: 50%;
    top: 50%;

    transform: translate(-50%, -50%);
    animation: appear $appear_duration forwards;
}

.title {
    font-size: 20px;
}

.textInputs {

    margin: 30px 0 20px;

    .spacer {
        height: 10px;
    }

    .text {
        margin-left: 2px;
    }

}

.bottom {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 55px;
}

.text {
    font-size: 13px;
    text-decoration: underline;
    color: #a0a0a0;

    cursor: pointer;

    transition: color .2s linear;

    &:hover {
        color: rgba($accent-color, .6);
    }
}

.authError {
    font-size: 14px;
    color: $error-color;
    text-align: center;

    &.signIn {
        margin-bottom: -20px;
        height: 18px;
    }

    &.signUp {
        margin: 4px 0 0;
    }
}