$header-height: 80px;
$footer-height: 30px;
$sidebar-width: 70px;
$player-width: 800px;

// colors
$accent-color: #c70f81;
$self-color: #74751f;
$bg-color: #252525;
$bg2-color: #180410;
$shade-color: #0e0f24;
$error-color: rgb(155, 0, 0);

// options
$global-border-radius: 10px;
