$breakpoints-min: (
    xs: 0px,
    sm: 600px,
    md: 960px,
    lg: 1280px,
    xl: 1920px,
);

$breakpoints-max: (
    xs: 599px,
    sm: 959px,
    md: 1279px,
    lg: 1919px,
    xl: 5000px,
);

@mixin media($keys...) {
    @each $key in $keys {
        @media (min-width: map-get($breakpoints-min, $key)) and (max-width: map-get($breakpoints-max, $key)) {
            @content;
        }
    }
}
