@import 'utils/master';
@import 'utils/mixins';
@import 'utils/media';

$btn-size: $sidebar-width - 20px;
$btn-border-radius: 10px;

.SideBar {
    width: $sidebar-width;
    height: 100vh;

    background-color: $shade-color;
    position: fixed;
    top: 0;
    left: 0;

    padding: 20px 0;

    display: flex;
    flex-direction: column;

    justify-content: space-between;
    align-items: center;

    z-index: 100;

    & .block {
        display: flex;
        flex-direction: column;
        align-items: center;

        & > div:not(.logo) {
            margin: 10px 0;
        }
    }

    & .logoImg {
        width: $btn-size;
        height: auto;
    }

    & .user {
        text-align: center;

        & img {
            width: $btn-size;
            height: $btn-size;
            border-radius: $btn-border-radius;
        }
    }

    & .btn {
        @include btn($btn-size, $btn-border-radius, 28px);
    }

    @include media(sm, xs) {
        width: 100vw;
        height: $sidebar-width;
        flex-direction: row;
        padding: 0 20px;

        $btn-size: $btn-size - 10px;

        & .block {
            flex-direction: row;
            & > div:not(.logo) {
                margin: 0 10px;
            }
        }

        & .user img {
            width: $btn-size;
            height: $btn-size;
        }
    }
}
