@import '@/utils/master';
@import '@/utils/media';

:root {
    font-size: 18px;
}

body {
    background-color: $bg-color;
    color: #efefef;

    --global-border-radius: #{$global-border-radius};
}

.App {
    padding-left: $sidebar-width;

    @include media(sm, xs) {
        padding-left: 0;
        padding-top: $sidebar-width;
    }
}

.link {
    color: #efefef;
    text-decoration: none;
}

.View {
    display: flex;
    justify-content: center;
    align-items: center;

    padding-left: $sidebar-width;

    min-height: calc(100vh - #{$footer-height});
}

.flexCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}

.linkFill {
    text-decoration: none;
    display: block;
    width: 100%;
    height: 100%;
}

.textCenter {
    text-align: center;
}
