@import 'utils/master';

:root {
    font-size: 18px;
}

body {
    background-color: $bg-color;
    color: #efefef;
}

.link {
    color: #efefef;
    text-decoration: none;
}

.View {
    display: flex;
    justify-content: center;
    align-items: center;

    padding-left: $sidebar-width;

    min-height: calc(100vh - #{$footer-height});
    // min-height: calc(100vh - #{$header-height} - #{$footer-height});

}

.linkFill {
    text-decoration: none;
    display: block; width: 100%; height: 100%;
}